<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/apidocs/css/monthly_bill.css"/>
    <title>月结账单</title>
</head>
<body style="background: rgb(243, 243, 243);font-family: 'Microsoft YaHei'">
<div class="monthly_bill_bk">
    <div class="monthly_bill_welcome">
        <div class="pull-left">
            <p>尊敬的XXXX公司：</p>
            <div>
                <span>感谢您使用箱满路平台，以下为</span>
                <span>2016年11月22日至2016年11月21日</span>
                <span>产生的电子月结账单</span>
            </div>
        </div>
        <div class="pull-right monthly_bill_img">
            <img src="../../public/apidocs/images/logo2.png" alt="">
        </div>
        <div class="clear"></div>
    </div>


    <div class="monthly_bill_table1" cellspacing="0px">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 163px;">账单日</th>
                    <th style="width: 80px;">类型</th>
                    <th style="width: 131px;">账单金额</th>
                    <th style="width: 182px;">当前可用额度</th>
                    <th style="width: 171px;">账单日</th>
                    <th style="width: 171px;">结账日</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 163px;">11月份账单</td>
                    <td style="width: 80px;">应付</td>
                    <td style="width: 131px;">50，000</td>
                    <td style="width: 182px;">140，000</td>
                    <td style="width: 171px;">2016-11-21</td>
                    <td style="width: 171px;">2017-01-04</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="bill_content">
        <!--<div class="bill_content_titile">-->
            <!--<span>部门01账单明细</span>-->
        <!--</div>-->
        <div class="bill_detail">
            <div class="bill_detail_titile">
                进口运费
            </div>
            <div class="bill_detail_tabel">
                <table class="table">
                    <thead>
                    <tr class="noborder">
                        <th style="width: 20px"></th>
                        <th style="width:110px">工厂名称</th>
                        <th style="width:70px">提单号</th>
                        <th style="width:90px">箱型／箱量</th>
                        <th style="width:80px">金额</th>
                        <th style="width:95px">订单号</th>
                        <th style="width:90px">委托日期</th>
                        <th style="width:64px">部门</th>
                        <th style="width:64px">经办人</th>
                        <th style="" class="table2-noborder-right">付款类型</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td  style="width:20px;">1</td>
                        <td style="width:110px">美森博多利(大连)科技有限公司</td>
                        <td style="width:70px">12345556</td>
                        <td style="width:90px">20GP*2</td>
                        <td style="width:80px">10,0000</td>
                        <td style="width:95px">123344444</td>
                        <td style="width:90px">2017/01/20</td>
                        <td style="width:64px">市场1部</td>
                        <td style="width:64px">张三</td>
                        <td class="table2-noborder-right">授信月结</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bill_detail_price pull-right">
                <span>小计：</span>
                <span class="bill_detail_redprice">5,000</span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bill_detail">
            <div class="bill_detail_titile">
                出口运费
            </div>
            <div class="bill_detail_tabel">
                <table class="table">
                    <thead>
                    <tr class="noborder">
                        <th style="width: 20px"></th>
                        <th style="width:110px">工厂名称</th>
                        <th style="width:70px">提单号</th>
                        <th style="width:90px">箱型／箱量</th>
                        <th style="width:80px">金额</th>
                        <th style="width:95px">订单号</th>
                        <th style="width:90px">委托日期</th>
                        <th style="width:64px">部门</th>
                        <th style="width:64px">经办人</th>
                        <th style="" class="table2-noborder-right">付款类型</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td  style="width:20px;">1</td>
                        <td style="width:110px">美森博多利(大连)科技有限公司</td>
                        <td style="width:70px">12345556</td>
                        <td style="width:90px">20GP*2</td>
                        <td style="width:80px">10,0000</td>
                        <td style="width:95px">123344444</td>
                        <td style="width:90px">2017/01/20</td>
                        <td style="width:64px">市场1部</td>
                        <td style="width:64px">张三</td>
                        <td class="table2-noborder-right">授信月结</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bill_detail_price pull-right">
                <span>小计：</span>
                <span class="bill_detail_redprice">5,000</span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bill_detail">
            <div class="bill_detail_titile">
                配货运费
            </div>
            <div class="bill_detail_tabel">
                <table class="table">
                    <thead>
                    <tr class="noborder">
                        <th style="width: 20px"></th>
                        <th style="width:110px">工厂名称</th>
                        <th style="width:70px">提单号</th>
                        <th style="width:90px">箱型／箱量</th>
                        <th style="width:80px">金额</th>
                        <th style="width:95px">订单号</th>
                        <th style="width:90px">委托日期</th>
                        <th style="width:64px">部门</th>
                        <th style="width:64px">经办人</th>
                        <th style="" class="table2-noborder-right">付款类型</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td  style="width:20px;">1</td>
                        <td style="width:110px">美森博多利(大连)科技有限公司</td>
                        <td style="width:70px">12345556</td>
                        <td style="width:90px">20GP*2</td>
                        <td style="width:80px">10,0000</td>
                        <td style="width:95px">123344444</td>
                        <td style="width:90px">2017/01/20</td>
                        <td style="width:64px">市场1部</td>
                        <td style="width:64px">张三</td>
                        <td class="table2-noborder-right">授信月结</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bill_detail_price pull-right">
                <span>小计：</span>
                <span class="bill_detail_redprice">5,000</span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bill_detail">
            <div class="bill_detail_titile">
                货险费用
            </div>
            <div class="bill_detail_tabel">
                <table class="table">
                    <thead>
                    <tr class="noborder">
                        <th style="width: 20px"></th>
                        <th style="width:110px">工厂名称</th>
                        <th style="width:70px">提单号</th>
                        <th style="width:90px">箱型／箱量</th>
                        <th style="width:80px">金额</th>
                        <th style="width:95px">订单号</th>
                        <th style="width:90px">委托日期</th>
                        <th style="width:64px">部门</th>
                        <th style="width:64px">经办人</th>
                        <th style="" class="table2-noborder-right">付款类型</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td  style="width:20px;">1</td>
                        <td style="width:110px">美森博多利(大连)科技有限公司</td>
                        <td style="width:70px">12345556</td>
                        <td style="width:90px">20GP*2</td>
                        <td style="width:80px">10,0000</td>
                        <td style="width:95px">123344444</td>
                        <td style="width:90px">2017/01/20</td>
                        <td style="width:64px">市场1部</td>
                        <td style="width:64px">张三</td>
                        <td class="table2-noborder-right">授信月结</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bill_detail_price pull-right">
                <span>小计：</span>
                <span class="bill_detail_redprice">5,000</span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bill_detail_price pull-right">
            <span>合计：</span>
            <span class="bill_detail_redprice">15,400</span>
        </div>
        <div class="clear"></div>
        <div class="bill_detail_total pull-right">
            <div class="bill_detail_price bill_total_price">
                <span>总计：</span>
                <span class="bill_detail_redprice">15,400</span>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</div>
</body>
</html>