<!DOCTYPE html>
<html xmlns="">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{rootUrl}}/apidocs/css/contract_style.css"/>
    <!--<link rel="stylesheet" href="../../public/apidocs/css/contract_style.css">-->
    <title>车队实名认证及委托运输合同</title>
</head>
<body>
<div class="wp">
    <div class="header">
        <div class="header-top">
            <div class="logo">
                <img src="{{rootUrl}}/apidocs/images/logo.png" alt="">
                <!--<img src="../../public/apidocs/images/logo.png" alt="">-->
            </div>
            <div class="header-left">
                <span>合同编号：{{contractNo}}</span><br>
                <span>时间戳：{{timeStamp}}</span>
            </div>
        </div>
        <div class="header-title">
            <h1>车队实名认证及委托运输合同</h1>
        </div>
    </div>


    <div class="center">
        <div class="summary">
            <div class="first-left z">
                <ul>
                    <li>甲 方(托运方)：青岛中外运物流有限公司</li>
                    <li>法定地址：青岛市黄岛区黄河东路88号</li>
                    <li>经办人：杨健</li>
                </ul>
            </div>
            <div class="first-right z">
                <ul>
                    <li>法定代表人：崔旭光</li>
                    <li>传真：</li>
                    <li>联系电话：0532-82898228</li>

                </ul>
            </div>
        </div>

        <div class="clear"></div>

        <div class="summary margin">
            <div class="first-left z">
                <ul>
                    <li>乙方(承运方)：{{bizName}}</li>
                    <li>法定地址：{{address}}</li>
                    <li>经办人：{{operator}}</li>
                </ul>
            </div>
            <div class="first-right z">
                <ul>
                    <li>法定代表人：{{bizUser}}</li>
                    <li>传真：</li>
                    <li>联系电话：{{phone}}</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>

        <div class="text">
            <p>
                根据国家《合同法》及公路集装箱运输法规，为确保运输服务质量，维护双方权益，就乙方在甲方网站（箱满路综合物流平台，以下简称“箱满路”）实名认证、业务操作、货物承运达成约定。乙方按照网站页面提示完成相应操作，在进行实名认证过程中点击“同意”或“提交”按钮即表示乙方完全接受本合同项下的全部条款。</p>
        </div>

        <div class="columns">
            <h2>第一条 乙方实名认证和资质条件</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;乙方必须具备以下资质条件，方可依据箱满路网站提示，按照“同意协议、完善资料、上传证件”等步骤进行用户实名认证。</p>
            <span>[相关证件需通过网站系统上传]</span>
            <p>一、具有独立法人资格国家工商行政主管部门核发的营业执照；</p>
            <p>二、具有国家交通主管部门核发的道路运输经营许可证；</p>
            <p>三、有固定的经营场所和必备的通讯设施；</p>
            <p>四、具有相应的运输能力和必备的GPS信息监控手段，有完整的服务质量保证体系；</p>
            <p>五、车辆营运证、行驶证、保险单、驾驶员资格证须合法有效。</p>
            <p>六、车辆按规定投保交强险、第三者责任险、箱货险等必要的保险项目，具备因风险事故导致承运货物损失的赔付能力。</p>
            <p>七、驾驶员具备与承运车辆相匹配的机动车驾驶证及从业资格证。</p>
            <p>乙方为通过甲方审核，采取伪造、涂改等手段向甲方提供虚假审核资料的，乙方须承担由此造成的一切经济和法律责任。同时，甲方有权终止与乙方的一切合作，且不承担任何法律责任。</p>
        </div>

        <div class="columns">
            <h2>第二条 集装箱公路运输业务委托</h2>
            <p>
                甲方通过箱满路网站、移动端等方式发布电子版《集装箱陆运订单》，起止地信息、收发货人联系信息、货物信息、船舶航次信息等内容以《集装箱陆运订单》为准。在箱满路“抢单模式”下，乙方可通过网站或移动端“我要抢单”功能自助获得订单；在箱满路“指派模式”下，乙方可通过网站或移动端“订单管理”功能获得定向指派订单。</p>
        </div>

        <div class="columns">
            <h2>第三条 甲乙双方权利义务</h2>
            <p>一、甲方的权利义务</p>
            <p>1、甲方委托乙方承运集装箱业务，乙方应在车辆、时间、安全等方面全面满足甲方的要求，并根据甲方《集装箱陆运订单》的要求按时配备运输车辆，确保运输服务质量。</p>
            <p>2、甲方有权要求装卸货物顺序，并提出合理化建议。</p>
            <p>3、甲方有权变更到货地点和收货人，但必须在集装箱未运到目的地之前通知乙方，并应按照约定支付乙方增加的运费。</p>
            <p>4、甲方有权要求乙方，对承运货值超过乙方购置保险赔偿限额的货物时，需对货物进行单独投保。</p>
            <p class="margin-top">&nbsp;二、乙方的权利义务</p>
            <p>1、乙方应按《集装箱陆运订单》的要求将集装箱运到指定地点并通知甲方到达时间。</p>
            <p>2、乙方在承运甲方委托运输业务时，需服从甲方运输安排和管理，并要求承运司机按照甲方移动端APP操作要求，在相应运输节点及时准确点击“开始运输”“完成”等操作按钮。</p>
            <p>3、按约定向甲方收取运费，如甲方未按时支付运费，乙方不得以任何理由对其集装箱及箱内货物行使留置权，否则产生的一切损失由乙方负责。</p>
            <p>4、乙方车辆在运输时间、安全、服务等方面未按甲方要求完成，造成运输延误、安全事故或客户投诉的，乙方应承担由此造成的全部责任和经济损失，并消除对甲方造成的不良影响.</p>
        </div>

        <div class="columns">
            <h2>第四条 甲方乙方双方责任</h2>
            <p>一、甲方责任：</p>
            <p>1、甲方通过网站、移动端等方式发布《集装箱陆运订单》，以便乙方及时获知相关运输任务。</p>
            <p>2、由于在普通货物中夹带、匿报危险货物，错报笨重货物重量等招致吊具断裂、货物摔损、吊机倾翻、爆炸、腐烛、海关查扣等事故，甲方应承担赔偿责任。</p>
            <p>3、由于货物包装缺陷产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，甲方应承担赔偿责任。</p>
            <p class="margin-top">二、乙方责任：</p>
            <p>1、不按《集装箱陆运订单》规定的时间和要求派车、发运的，乙方应承担由此产生的超期箱使费、延误赔偿及其它费用。</p>
            <p>
                2、乙方如将集装箱错运到货地点或接货人，应无偿运至《集装箱陆运订单》指定的到货地点或接货人，造成货物无法运回的，乙方承担由此产生的一切损失。如果货物逾期达到、乙方应偿付逾期交货所产生的箱使费、延误赔偿及其它费用。</p>
            <p>3、乙方到指定的场站提箱时应检查箱体是否完好无损及是否有污染、有异味、如有箱损、污染及异味应及时调换，如将不适装货的箱子运到工厂所产生的一切费用由乙方负责。</p>
            <p>4、乙方应按甲方《集装箱陆运订单》规定进行单背箱或双背箱运输，乙方不按甲方规定进行背箱运输造成一切损失由乙方付完全责任，甲方保留追偿所产生的一切责任及费用的权利。</p>
            <p>
                5、乙方到甲方指定的地点装卸挂机时，有义务检查挂机的相关指标及机械的正常运转情况，如发现异常应及时更换。如在运输过程中出现挂机异常应及时联系甲方及挂机单位及时排除故障，如故障不能及时排除应做好书面记录并请责任方（挂机单位或背箱场站）验机后签字并交甲方保管，以便分清事故责任。</p>
            <p>6、运输过程中造成集装箱及货物灭失、短少、变质、污染、损坏，乙方承担由此产生的一切损失。</p>
            <p>7、乙方在符合法律及合同规定的条件下运输，由于下列原因造成货物灭失、短少、变质、污染、损坏的，乙方不承担违约责任：</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;①不可抗力；</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;②货物的合理损耗；</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;③甲方或收货方本身的过错。</p>
            <p>8、乙方必须确保服务质量，由于乙方的原因致使甲方客户投诉的，甲方有权对乙方的过失要求赔偿。</p>
        </div>

        <div class="columns">
            <h2>第五条 运费结算</h2>
            <p>1、结算周期为一个月，每月账单日为20号。</p>
            <p>2、对账时间为当月21号至当月月底，双方完成运输费用的核对工作。</p>
            <p>3、费用核对完成后，甲方在20个工作日内将运输费用汇至乙方指定账户内。</p>
            <p>4、结算时，乙方需出具电子对账单（或打印件）及“货物签收单”，并开据陆运增值税专用发票（带抵扣联）。</p>
            <p>因乙方未按照甲方移动端操作要求及时点击“完成”按钮，造成运费支付延迟的，甲方不承担相关责任。</p>
        </div>

        <div class="columns">
            <h2>第六条 风险</h2>
            <p>1、乙方须具备因风险事故导致承运货物损失的赔付能力，在承运货值超过购置保险赔偿限额的货物时，乙方需对货物进行单独投保。</p>
            <p>
                2、乙方承运甲方委托的集装箱途中如发生不可抗力因素或交通事故，预计不能按时到达的，乙方应立即通知甲方并说明情况，以便甲方及时与客户取得联系和谅解及采取相应的补救措施。乙方司机有责任保护好现场，并及时向当地公安部门和保险公司报案，配合现场勘查工作和取得有效索赔单证。</p>
            <p>3、乙方承担箱体及货物风险责任：在集装箱落至乙方拖车时起至集装箱返回指定场站还箱完毕止。</p>
        </div>

        <div class="columns">
            <h2>第七条 交货</h2>
            <p>
                1、根据国家法规和集装箱运输规则，集装箱普通货物交付标准为“箱体完好，铅封完好”，即为乙方完好交货。如收货人开箱发现货物损坏、缺少、短重、污染、变质等，在乙方符合法律和规定条件下运输的，且封志完好，箱体完好，乙方不承担赔偿责任。除集装箱整箱外，其它货物乙方必须负责理货，并确保货物外包装完好。</p>
            <p>2、集装箱送达目的地前，乙方司机应提前通知收货人，以便收货人做好收货准备。</p>
            <p>3、货物送达目的地交收货人卸货清点完毕后，乙方须取得指定收货人在“货物签收单”上签字并加盖收货单位公章或收货单位收货专用章。对于出口重箱运输委托，以指定场站接收重箱返场视为交付完毕。</p>
            <p>4、乙方没有取得经收货人签字并加盖收货单位公章或收货单位收货专用章的收货收据，乙方不得向甲方收取该次运输的运费，并承担由此产生的一切损失。</p>
            <p>5、遇下列情况，乙方必须及时与甲方联系，并按甲方要求处理（须书面通知），由此产生的额外运费由甲方承担，具体数额由双方协商确定。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;(1) 收货人原因，收货人拒收货物。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;(2) 收货人或其委托收货人不能证明其身份或代理权。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;(3) 甲方提供的收货人地址有误。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;(4) 甲方临时要求乙方控货的（控货是指根据甲方指令临时更改送货地址并等待甲方处理）。</p>
        </div>


        <div class="columns">
            <h2>第八条 合同文本、时效、变更和终止</h2>
            <p>1、合同的生效：本合同经乙方在甲方网站上实名认证后，用电子文本方式签署并生效。</p>
            <p>2、合同生效后，如一方需要提前终止合同的，应提前30天通知协议的另一方，并将乙方所承运的未交还甲方指定码头/场站的集装箱，交付甲方指定地点，并按协议要求办妥交接手续，余款双方30日内结算完毕。</p>
            <p>3、如合同需变更，经双方协商一致后签订补充协议，补充协议与本合同具有同等法律效力。</p>
            <p>4、若合同在履行中产生纠纷，双方应及时协商解决；协商无效的，可向甲方所在地人民法院申请诉讼解决。</p>
            <p>5、本合同全部内容属商业秘密，双方均有责任保守秘密。</p>
        </div>
    </div>


    <div class="footer">
        <div class="summary">
            <div class="first-left z">
                <ul>
                    <li>甲方：青岛中外运物流有限公司</li>
                    <li>法定代表人：/*崔旭光*/</li>
                    <li>时间戳：{{timeStamp}}</li>
                </ul>
            </div>
            <div class="first-right z">
                <ul>
                    <li>乙方：{{bizName}}</li>
                    <li>法定代表人：/*{{bizUser}}*/</li>
                    <li>时间戳：{{timeStamp}}</li>
                    <li>用户账号：{{userAccount}}</li>
                    <li>IP地址：{{ipAddress}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
</body>
</html>