<!DOCTYPE html>
<html xmlns="">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{rootUrl}}/apidocs/css/contract_style.css"/>
    <!--<link rel="stylesheet" href="../../public/apidocs/css/contract_style.css">-->
    <title>费用账期与结算协议</title>
</head>
<body>
<div class="wp">
    <div class="header">
        <div class="header-top">
            <div class="logo">
                <img src="{{rootUrl}}/apidocs/images/logo.png" alt="">
                <!--<img src="../../public/apidocs/images/logo.png" alt="">-->
            </div>
            <div class="header-left">
                <span>合同编号：{{contractNo}}</span><br>
                <span>时间戳：{{timeStamp}}</span>
            </div>
        </div>
        <div class="header-title">
            <h1>费用账期与结算协议</h1>
        </div>
    </div>
    <div class="center">
        <div class="summary">
            <div class="first-left z">
                <ul>
                    <li>甲 方(客户)：</li>
                    <li>法定代表人(盖章)：</li>
                    <li>对账人：</li>
                    <li>对账人联系电话：</li>
                    <li>银行帐户：</li>
                </ul>
            </div>
            <div class="first-right z">
                <ul>
                    <li>乙 方：青岛中外运物流有限公司</li>
                    <li>法定代表人(盖章)：崔旭光</li>
                    <li>经办人：杨健</li>
                    <li>联系电话：0532-82898228</li>
                    <li>银行帐户：216904433126</li>
                </ul>
            </div>
        </div>

        <div class="clear"></div>

        <div class="columns">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;鉴于甲乙双方在箱满路综合物流平台（以下简称“箱满路”）的良好业务合作关系，为方便相关费用的结算，乙方根据甲方资信状况和交易规模，为甲方开通箱满路网站“授信月结”支付功能。为明确双方的权利和义务，经友好协商达成如下协议</h2>
            <p class="spacing"></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;1.账期与结算限额。乙方给予甲方结算账期_____天，结算限额为
                万元，两者俱一即可；甲方承诺在每月_____日前支付本月/上月运费及相关费用；甲方结算费用连续3个月低于 元或违反本协议规定时，乙方有权单方面取消甲方“授信月结”支付功能或降低结算限额。</p>
            <p class="spacing2"></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;2.乙方每月
                日向乙方提供上月/本月委托运输费用的电子对账单供甲方核对，相关费用依据甲方实际确认的订单和乙方公开施行的收费标准计算。甲方如对该电子对账单持有异议，应自乙方送达电子对账单之日起三个工作日内通知乙方，如逾期不提出异议，则视同认同。</p>
            <p class="spacing2"></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;3.若甲方在约定期限内提出账单异议，乙方应在甲方提出异议之日起三个工作日内与甲方协调解决，达成一致意见后，甲方需于商议付款日结清该部分款项。甲方不得以个别款项有异议为由拖延账期内其它费用的按时支付。</p>
            <p class="spacing2"></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;4.甲方可采取银行转账、现金或支票、在线支付的形式支付月结费用。期票日期不得超过三天，通过银行汇款不得超过三天。</p>
            <p class="spacing2"></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;5.甲方应当按时足额支付乙方相关费用，每迟延一天需支付逾期付款总额的万分之二作为逾期付款违约金。甲方无故不支付费用的，乙方对承运货物可以行使处置权、置留权以及其他救济性权利。</p>
            <p class="spacing2"></p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;6.本合同经甲乙双方签字盖章后即生效。本合同未尽事宜，由合同双方当事人协商一致解决。若不能协商解决时,本合同项下发生的任何纠纷或者争议，应提交乙方所在地法院审理。</p>
            <p class="spacing2"></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;7.本协议有效期一年，期满前三十日双方无异议，本协议自动续期一年。在本协议执行期间，任何一方如提出修改或终止本协议，应提前三十日以书面形式通知对方。协议的提前终止，不影响双方于协议终止前已产生的权利和义务。</p>
        </div>


    </div>


    <div class="footer">
        <div class="summary">
            <div class="first-left z">
                <ul>
                    <li>甲方：{{bizName}}</li>
                    <li>法定代表人：/*{{bizUser}}*/</li>
                    <li>时间戳：{{timeStamp}}</li>
                    <li>用户账号：{{userAccount}}</li>
                    <li>IP地址：{{ipAddress}}</li>
                </ul>
            </div>
            <div class="first-right z">
                <ul>
                    <li>乙方：青岛中外运物流有限公司</li>
                    <li>法定代表人：/*崔旭光*/</li>
                    <li>时间戳：{{timeStamp}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
</body>
</html>